@{
    ViewBag.Title = "First Task";
}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque vestibulum ex luctus porttitor. Maecenas sit amet pretium leo, eu tincidunt ipsum. Etiam lacus ipsum, ultrices sed lacus ut, molestie cursus felis. Etiam porttitor finibus dui, vitae dapibus turpis accumsan id. Nulla facilisi. In purus arcu, vulputate et augue id, egestas consequat risus. Nunc et euismod magna. Aliquam nulla eros, tincidunt vel ligula sed, auctor rutrum orci. In et libero lectus. Suspendisse nec pharetra dui. Aliquam erat massa, finibus sed leo et, facilisis condimentum tellus. Vestibulum aliquam tristique libero, sed tincidunt dui iaculis sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vitae porttitor justo, quis efficitur sapien. In vitae consectetur risus. In hac habitasse platea dictumst.</p>

<script type="text/javascript">
    alert("Hello");
    alert("Hello");
</script>

<p>In congue auctor enim, vitae mollis orci commodo sit amet. Nunc pharetra, justo in feugiat cursus, tortor libero vulputate sapien, ut auctor ante justo ornare nulla. Aliquam fringilla nunc vitae eleifend tempor. In id tortor ipsum. Nullam scelerisque sem placerat, imperdiet nisi at, blandit leo. Sed vestibulum nisi tellus, a finibus magna molestie non. Phasellus eu felis tincidunt, mattis sem sed, mattis lectus. Fusce efficitur semper velit, in tempus erat tempor eget. Vestibulum quis accumsan dui. Morbi cursus lorem non quam laoreet, vel laoreet metus malesuada. Cras eleifend lectus vel felis luctus rhoncus. Duis id massa et elit venenatis fermentum. Praesent quis tellus sed leo efficitur lacinia. Fusce sed ipsum est. Maecenas efficitur libero et nulla ornare, eu venenatis ipsum mollis. Nunc et justo tortor.</p>