@{
    ViewBag.Title = "Menu";
}

<ul>
    <li>
        <span>First task</span>
        <ul>
            <li>@Html.ActionLink("First", "First", "FirstTask")</li>
            <li>@Html.ActionLink("Second", "Second", "FirstTask")</li>
            <li>@Html.ActionLink("Third", "Third", "FirstTask")</li>
        </ul>
    </li>
    <li></li>
    <li></li>
    <li></li>
</ul>

